.collection{
    margin: 0px 150px;
    padding:30px;
}
.collection h1{
    text-align: center;
    font-weight: 700;
    font-size: 2.2em ;
}
.product_details{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
}.single_box{
    padding:10px;
    box-shadow: 2px 2px 5px;
}
.single_box img{
 width: 100%;
 height: 60%;
}
.rate .fas{color:rgb(233, 94, 14)}

.social .fab{
    margin-left: 20px;
    font-size: 30px;
}
.single_button{
    margin-top: 30px;
    float: right;
    position: relative;
}
.single_button a{
    text-decoration: none;
    font-size: 20px;
    color:#E02C6D;
    font-weight: 600;
}
footer{
    width:100%;
    padding:50px 0px;
    background-color: #0A0826;
    color:rgb(245, 234, 213);
    text-align: center;
    margin-top:50px;
}