.header{
    width:100%;
}
.first_sectoion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.title, .main_photo{
    width:45%;
    padding:5%;
    overflow: hidden;
}

.main_photo{

}
.banner{
    display: flex;
    padding: 10px 250px;
    align-items: center;
    justify-content: space-between;
}
