@import url(header.css);
@import url(collection.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@400;600&display=swap');
body{
    background-color:#3A3A3A3A;
}
.top_container{
    background-color: #FFFFFF;
    margin:0px auto;
    width:75%;
}
/* __________________________

Navbar style Start 
__________________________*/
.navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:10px;
    width:100%;
    
}
.navbar h2{
    font-size: 35px;
    font-weight: 750px; 
    margin-left: 100px; 
    font-family: 'Roboto', sans-serif;
}
.navbar ul{ display: flex; margin-right: 150px;}
.navbar ul li{
    list-style-type: none;
    margin-right:25px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
}