@import url(header.css);
@import url(collection.css);
body{
    background-color:#3A3A3A3A;
}
.top_container{
    background-color: #FFFFFF;
    margin:30px auto;
    width:75%;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:10px;
    width:100%;
}
.navbar h2{
    font-size: 35px;
    font-weight: 750px; 
    margin-left: 100px; 
}
.navbar ul{ display: flex; margin-right: 150px;}
.navbar ul li{
    list-style-type: none;
    margin-right:25px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}